.item {
    display: flex;
    
    height: 60px;
    background-color: white;
    margin-bottom: 10px;

    align-items: center;
    border-radius: 8px;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.item:last-child {
    margin-bottom: 0;
}

.online {
    margin-left: 15px;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 12px;
}

.offline {
    margin-left: 15px;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 12px;
}

.avatar {
    margin-left: 12px;
}

.name {
    margin-left: 12px;
    font-weight: 600;
}